{% extends 'home.html' %}

{% block title %}
    <title>Image galery</title>
{% endblock %}

{% block content %}
    <div class="col-sm-2">
    <form action="{% url 'upload_files' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <p>{{ form.non_field_errors }}</p>
        <p>{{ form.imagefile.label_tag }}</p>
        <p>
            {{ form.imagefile.errors }}
            {{ form.imagefile }}
        </p>
        <input class="btn btn-danger btn-sm" type="submit" value="Upload file" />
    </form>
    <br>
    ---------------------------------------------
    <br>
    Choose user to watch his(her) images:
    <br>
        {% for user in users %}
            - <a href="{{ user }}">{{ user }}</a>
            <br>
        {% endfor %}
        <br>
    </div>

    <div class="col-sm-10">
    {% if user_images %}
        {% for image in user_images %}
            <a href="{{ image.imagefile.url }}">
                <img class="img-thumbnail" src="{{ image.imagefile.url }}" alt="{{ image.imagefile.name }}" width="140"></a>
        {% endfor %}

    {% else %}
        <p>No images</p>

    {% endif %}
</div>
{% endblock %}
